*
{
    font-family: garamond;
    margin: 0;
}


header
{
    background-color: tomato;
    color: white;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main
{
    width: 80%;
    height: 600px;
    display: flex;
    float: left;
}

aside
{
    background-color: coral;
    width: 10%;
    height: 680px;
}

footer
{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: tomato;
    color: white;
}

img
{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

#chat
{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}

.krzysiek, .jolanta
{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
    display: flex;
    float: left;
}