*
{
    font-family: garamond, serif;
    margin: 0;
}

header
{
    background-color: tomato;
    color: white;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    float: left;
}

main
{
    width: 80%;
    height: 600px;
    float: left;
}

aside
{
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;
}

footer
{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: tomato;
    color: white;
}

img
{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]
{
    width: 500px;
}

input[type="button"]
{
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    font-weight: bold;
}

#chat
{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}

.krzysiek, .jolanta
{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

.jolanta img
{
    float: left;
}

.krzysiek
{
    background-color: #CCC;
    float: right;
    text-align: right;
}

.krzysiek img
{
    float: right;
}

.jolanta
{
    background-color: #EEE;
    float: left;
}